
table {
    border-collapse: collapse;
  }

table, th, td {
    border: 1px solid black;
    padding: 10px;
  }

table thead th {
    font: normal bold 18px;
    padding: 10px;
}
table tbody tr:nth-child(1) td:first-child {
    background-color: rgba(0, 0, 0, 0);
} 
table tbody tr:nth-child(2) td:first-child {
    background-color: rgba(0, 0, 0, 0.1);
} 
table tbody tr:nth-child(3) td:first-child {
    background-color: rgba(0, 0, 0, 0.2);
} 
table tbody tr:nth-child(4) td:first-child {
    background-color: rgba(0, 0, 0, 0.3);
} 
table tbody tr:nth-child(5) td:first-child {
    background-color: rgba(0, 0, 0, 0.4);
} 
table tbody tr:nth-child(6) td:first-child {
    background-color: rgba(0, 0, 0, 0.5);
} 
table tbody tr:nth-child(7) td:first-child {
    background-color: rgba(0, 0, 0, 0.6);
} 
table tbody tr:nth-child(8) td:first-child {
    background-color: rgba(0, 0, 0, 0.7);
} 
table tbody tr:nth-child(9) td:first-child {
    background-color: rgba(0, 0, 0, 0.8);
} 
table tbody tr:nth-child(10) td:first-child {
    background-color: rgba(0, 0, 0, 1);
} 
h3{
    font: normal bold 18px;
    text-align: center;
}
.minerales {
    width: 40px;
    margin-right: 5px;
}